* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.h1rubrik{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.h2rubrik{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.bodyresponsive{
    font-family: 'PT Sans', sans-serif;
    width:100%;
    height:auto;  
}

.section-one{
    display: inline;
    height: auto;

}

.flex-section{
    margin-top: 140px;
}

.flex-container {
    height: 1000%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

.flex-item-text > p {
    margin-top: 25px;
}

.flex-item-text{
    width: 50%;
    padding-left: 30px;
}

.flex-item-image{
    width:50%;
    position: relative;
    bottom: 150px;
    left: 20px;
}

.responsive{
    width:100%;
    height:inherit; 
    display: block;
}

.totw{
    width: 100%;
    padding-bottom: 0px;
}

.totw-text{
    width: 60%;
    margin: auto;
    transform: translateY(280%);
}

footer{
    background: black;
}

footer > p, h1 {
    color: whitesmoke;
}